// .AppMain {
//     margin-left: 10%;
//     margin-right: 10%;
// }

// .media-feed {
//     position: absolute;
//     right: 0;
//     padding: 50px;
// }

body {
    margin: 0 auto;
}

.side-nav {
    border:#401F34 solid 1px;
    width:fit-content;
    margin: 10px;

.list-group-item:hover {
    color:#ffffff !important;
    font-size: 20px;
    background-color: #401F34 !important;
}

$theme-colors: (
    "info": #25B8C6,
    "danger": teal,
    "primary": #401F34,
);

@import '~bootstrap/scss/bootstrap.scss';