// .AppMain {
//     margin-left: 10%;
//     margin-right: 10%;
// }

// .media-feed {
//     position: absolute;
//     right: 0;
//     padding: 50px;
// }

body {
    margin: 0 auto;
}

.side-nav {
    border:#401F34 solid 1px;
    width:fit-content;
    margin: 10px;

}

$theme-colors: (
    "info": tomato,
    "danger": teal,
    "primary": #401F34,
);

@import '~bootstrap/scss/bootstrap.scss';