.AppMain {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

// .media-feed {
//     position: absolute;
//     right: 0;
//     padding: 50px;
// }

body {
    margin: 0 auto;
}

.logo-title {
    font-weight: 200;
    color: #25B8C6;
    font-size: 300;
}

.side-nav {
    border:#401F34 solid 1px;
    width:fit-content;
    margin: 10px;
}

.contact-jumbotron {
    text-align: center;
    border-radius: 2%;
}

.list-group-item:hover {
    color:#ffffff !important;
    font-size: 20px;
    background-color: #401F34 !important;
}

$theme-colors: (
    "info": #25B8C6,
    "danger": teal,
    "primary": #401F34,
);

@import '~bootstrap/scss/bootstrap.scss';